.articles {
    height: 60em;
    margin: 1rem;
}
.content  {
    height: 50em;
}
.modal-dialog {
    max-width: 75%;
}
#cartButton:hover  > .bi-cart-fill {
    color: #fff !important;
}
.nav-link {
    color: rgba(0, 0, 0, 0.9) !important;
}

.nav-link:hover {
    color: #045b66 !important;
}
.container-fluid {
    background-color:#a5ebcc;
}

.background-image {
    background-image: url("../img/plume2.png");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.footer {
    background-color: #a5ebcc;  
}

.description {
    text-align: justify;
}

body {
    font-family: 'Lora', serif;
}

.btn {
    background-color: #a5ebcc;
    border-color: #a5ebcc;
}

.btn:hover {
    background-color: #045b66;
    border-color: #045b66;
    color: white;
}

@media screen and (max-width:630px) {
    .background-image {
        background: none;
    }
    .content {
        height: 35em;
    }
    .articles {
        height: 45em;
    }
    .modal-dialog {
        max-width: 100%;
    }
    .imgCart {
        display: none;
    }
    
}

@media screen and (max-width: 1000px) {
    
    
    .content img {
        width: 50% !important;
    }
    .articles {
        height: 45em;
        margin: 1rem;
    }
    .content  {
        height: 35em;
    }
    .image {
        display: flex;
        justify-content: center;
    }
    .navbar-collapse {
        display: flex;
        flex-flow: nowrap column;
        justify-content: center;
    }
    .navbar-collapse > ul {
        margin: auto;
        text-align: center;
    }
}